<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>German Dictionary</h1>
  </div>

  <table class="table caption-top table-bordered border-dark">
    <caption>
      <h2>Adjektiv</h2>
    </caption>
    <thead>
      <tr>
        <th scope="col">Adjektiv</th>
        <th scope="col">English sentence</th>
        <th scope="col">German sentence</th>
        <th scope="col">Remark</th>
        <th scope="col">Chapter</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i < adjektiv.adjektiv.length; i++) { %>
        <tr>
          <td id="<%= i %>" onclick="showAnswer(id)">
            <%= adjektiv.adjektiv[i].adjektiv %>
          </td>
          
          <td>
            <%= adjektiv.adjektiv[i].english_sentence %>
          </td>

          <td>
            <p class="demo<%= i %>" style="display: none;">
              <%= adjektiv.adjektiv[i].german_sentence %>
            </p>
          </td>

          <td>
            <%= adjektiv.adjektiv[i].remark %>
          </td>

          <td>
            <%= adjektiv.adjektiv[i].chapter %>
          </td>

        </tr>
      <% } %>

    </tbody>
  </table>

  <hr>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
<script>
  function showAnswer(id) {
    var elms = document.getElementsByClassName("demo" + id);

    Array.from(elms).forEach((x) => {
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
    })
  }
</script>