<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Artikel</h1>
    <a href="#1"> <h3>1. Adjektive nach dem unbestimmten Artikel</h3> </a>
    <a href="#2"> <h3>2. Adjektive nach dem bestimmten Artikel</h3> </a>
    <a href="#3"> <h3>3. Interrogativartikel: Welcher? Welches? Welche?</h3> </a>
    <a href="#4"> <h3>4. Demonstrativartikel: dieser, dieses, diese</h3> </a>
    <a href="#5"> <h3>5. Possessivartikel im Nomivativ, Akkusativ, Dativ</h3> </a>
    <a href="#6"> <h3>6. Derselbe, dasselbe, dieselbe und dieselben</h3> </a>
  </div>

  <hr>

  <table id="1" class="table caption-top table-bordered border-dark">
    <caption>
      <h2>1. Adjektive nach dem unbestimmten Artikel</h2>
      ein dein 
    </caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Maskulin</th>
        <th scope="col">Neutrum</th>
        <th scope="col">Feminin</th>
        <th scope="col">Plural</th>
      </tr>
    </thead>
    <tbody>
      <% words.words.forEach(function(word) { %>
        <tr>
          <th scope="row"><%= word.title %></th>
          <td>
            <input id="<%=word.title %>-<%= word.maskulin %>" oninput="checkAnswer(id)"> 
            <br>
            <%= word.maskulin_eng %>
          </td>
          <td>
            <input id="<%=word.title %>-<%= word.neutrum %>" oninput="checkAnswer(id)"> 
            <br>
            <%= word.neutrum_eng %>
          </td>
          <td>
            <input id="<%=word.title %>-<%= word.feminin %>" oninput="checkAnswer(id)"> 
            <br>
            <%= word.feminin_eng %>
          </td>
          <td>
            <input id="<%=word.title %>-<%= word.plural %>" oninput="checkAnswer(id)"> 
            <br>
            <%= word.plural_eng %>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <table class="table caption-top table-bordered border-dark">
    <caption>
      <h2></h2>
    </caption>
    <thead>
      <tr>
        <th scope="col">English</th>
        <th scope="col">German</th>
      </tr>
    </thead>
    <tbody>
      <% words.unbestimmten.forEach(function(unbestimmten) { %>
        <tr>
          <th scope="row"><%= unbestimmten.english_sentence %></th>
          <td>
            <input id="<%= unbestimmten.german_sentence %>" oninput="checkAnswer(id)"> 
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <hr>

  <table id="2" class="table caption-top table-bordered border-dark">
    <caption>
      <h2>2. Adjektive nach dem bestimmten Artikel</h2>
      die das dieses
    </caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Maskulin</th>
        <th scope="col">Neutrum</th>
        <th scope="col">Feminin</th>
        <th scope="col">Plural</th>
      </tr>
    </thead>
    <tbody>
      <% words.words2.forEach(function(word) { %>
        <tr>
          <th scope="row"><%= word.title %></th>
          <td>
            <input id="<%=word.title %>-<%= word.maskulin %>" oninput="checkAnswer(id)"> 
            <br>
            <%= word.maskulin_eng %>
          </td>
          <td>
            <input id="<%=word.title %>-<%= word.neutrum %>" oninput="checkAnswer(id)"> 
            <br>
            <%= word.neutrum_eng %>
          </td>
          <td>
            <input id="<%=word.title %>-<%= word.feminin %>" oninput="checkAnswer(id)"> 
            <br>
            <%= word.feminin_eng %>
          </td>
          <td>
            <input id="<%=word.title %>-<%= word.plural %>" oninput="checkAnswer(id)"> 
            <br>
            <%= word.plural_eng %>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  
  <hr>

  <table id="3" class="table caption-top table-bordered border-dark">
    <caption>
      <h2>3. Interrogativartikel: Welcher? Welches? Welche?</h2>
    </caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Maskulin</th>
        <th scope="col">Neutrum</th>
        <th scope="col">Feminin</th>
        <th scope="col">Plural</th>
      </tr>
    </thead>
    <tbody>
      <% words.interrogativartikel.forEach(function(word) { %>
        <tr>
          <th scope="row"><%= word.title %></th>
          <td>
            <input id="<%=word.title %>-<%= word.maskulin %>" oninput="checkAnswer(id)"> 
            <br>
            <%= word.maskulin_eng %>
          </td>
          <td>
            <input id="<%=word.title %>-<%= word.neutrum %>" oninput="checkAnswer(id)"> 
            <br>
            <%= word.neutrum_eng %>
          </td>
          <td>
            <input id="<%=word.title %>-<%= word.feminin %>" oninput="checkAnswer(id)"> 
            <br>
            <%= word.feminin_eng %>
          </td>
          <td>
            <input id="<%=word.title %>-<%= word.plural %>" oninput="checkAnswer(id)"> 
            <br>
            <%= word.plural_eng %>
          </td>
        </tr>
      <% }); %>
    </tbody>

    
  </table>

  <table class="table caption-top table-bordered border-dark">
    <caption>
      <h2></h2>
    </caption>
    <thead>
      <tr>
        <th scope="col">English</th>
        <th scope="col">German</th>
      </tr>
    </thead>
    <tbody>
      <% words.interrogativartikel_zB.forEach(function(word) { %>
        <tr>
          <th scope="row"><%= word.english_sentence %></th>
          <td>
            <input id="<%= word.german_sentence %>" oninput="checkAnswer(id)"> 
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  
  <hr>

  <table id="4" class="table caption-top table-bordered border-dark">
    <caption>
      <h2>4. Demonstrativartikel: dieser, dieses, diese</h2>
    </caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Maskulin</th>
        <th scope="col">Neutrum</th>
        <th scope="col">Feminin</th>
        <th scope="col">Plural</th>
      </tr>
    </thead>
    <tbody>
      <% words.demonstrativartikel.forEach(function(word) { %>
        <tr>
          <th scope="row"><%= word.title %></th>
          <td>
            <input id="<%=word.title %>-<%= word.maskulin %>" oninput="checkAnswer(id)"> 
            <br>
            <%= word.maskulin_eng %>
          </td>
          <td>
            <input id="<%=word.title %>-<%= word.neutrum %>" oninput="checkAnswer(id)"> 
            <br>
            <%= word.neutrum_eng %>
          </td>
          <td>
            <input id="<%=word.title %>-<%= word.feminin %>" oninput="checkAnswer(id)"> 
            <br>
            <%= word.feminin_eng %>
          </td>
          <td>
            <input id="<%=word.title %>-<%= word.plural %>" oninput="checkAnswer(id)"> 
            <br>
            <%= word.plural_eng %>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <hr>

  <table id="5" class="table caption-top table-bordered border-dark">
    <caption>
      <h2>5. Possessivartikel im Nomivativ, Akkusativ, Dativ</h2>
    </caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Maskulin</th>
        <th scope="col">Neutrum</th>
        <th scope="col">Feminin</th>
        <th scope="col">Plural</th>
      </tr>
    </thead>
    <tbody>
      <% words.possessivartikel.forEach(function(word) { %>
        <tr>
          <th scope="row"><%= word.title %></th>
          <td>
            <input id="<%=word.title %>-<%= word.maskulin %>" oninput="checkAnswer(id)"> 
            <br>
            <%= word.maskulin_eng %>
          </td>
          <td>
            <input id="<%=word.title %>-<%= word.neutrum %>" oninput="checkAnswer(id)"> 
            <br>
            <%= word.neutrum_eng %>
          </td>
          <td>
            <input id="<%=word.title %>-<%= word.feminin %>" oninput="checkAnswer(id)"> 
            <br>
            <%= word.feminin_eng %>
          </td>
          <td>
            <input id="<%=word.title %>-<%= word.plural %>" oninput="checkAnswer(id)"> 
            <br>
            <%= word.plural_eng %>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <hr>

  <table id="6" class="table caption-top table-bordered border-dark">
    <caption>
      <h2>6. Derselbe, dasselbe, dieselbe und dieselben</h2>
    </caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Maskulin</th>
        <th scope="col">Neutrum</th>
        <th scope="col">Feminin</th>
        <th scope="col">Plural</th>
      </tr>
    </thead>
    <tbody>
      <% words.derselbe.forEach(function(word) { %>
        <tr>
          <th scope="row"><%= word.title %></th>
          <td>
            <input id="<%=word.title %>-<%= word.maskulin %>" oninput="checkAnswer(id)"> 
            <br>
            <%= word.maskulin_eng %>
          </td>
          <td>
            <input id="<%=word.title %>-<%= word.neutrum %>" oninput="checkAnswer(id)"> 
            <br>
            <%= word.neutrum_eng %>
          </td>
          <td>
            <input id="<%=word.title %>-<%= word.feminin %>" oninput="checkAnswer(id)"> 
            <br>
            <%= word.feminin_eng %>
          </td>
          <td>
            <input id="<%=word.title %>-<%= word.plural %>" oninput="checkAnswer(id)"> 
            <br>
            <%= word.plural_eng %>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
<script>
  function checkAnswer(id, test) {
    let new_id = id.substring(id.indexOf('-') + 1);
    let elm = document.getElementById(id);

    if (elm.value == new_id) {
      elm.style.color = "green";
    } else {
      elm.style.color = "black";
    }
    
  }
</script>