<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>German Dictionary</h1>
  </div>

  <table class="table caption-top table-bordered border-dark">
    <caption>
      <h2>Komparativ/ Superlativ Adjective</h2>
    </caption>
    <thead>
      <tr>
        <th scope="col">adjektive</th>
        <th scope="col">Komparativ</th>
        <th scope="col">Superlativ</th>
        <th scope="col">Meaning</th>
        <th scope="col">Sentence</th>
      </tr>
    </thead>
    
    <tbody>
      <% words.comparative_adj.forEach(function(comparative_adj) { %>
        <tr>
          <th scope="row">
            <%= comparative_adj.adjektive %>
          </th>
          <td>
            <input id="<%= comparative_adj.komparativ %>" oninput="checkAnswer(id)">
          </td>
          <td>
            <input id="<%= comparative_adj.superlativ %>" oninput="checkAnswer(id)">
          </td>
          <td>
            <%= comparative_adj.meaning %>
          </td>
          <td>
            <input id="<%= comparative_adj.german_sentence %>" oninput="checkAnswer(id)">
            <br>
            <%= comparative_adj.english_sentence %>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>

  <hr>


</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
<script>
  function checkAnswer(id, test) {
    let new_id = id.substring(id.indexOf('+') + 1);
    let elm = document.getElementById(id);

    if (elm.value == new_id) {
      elm.style.color = "green";
    } else {
      elm.style.color = "black";
    }
  }
</script>