<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <img src="/images/konnektor/konnektoren.jpeg" width="500" height="400">
    <h1>Nebensätze</h1>
    <h3>1. Denn und Weil</h3>
    <h3>2. Als und Wenn</h3>
    <h3>3. um ... zu + Infinitiv / damit</h3>
  </div>

  <hr>

  <table class="table caption-top table-bordered border-dark">
    <caption>
      <h2>1. denn und weil</h2>
      Meaning: because, warum
      <br>
      denn = Hauptsatz
      <br>
      weil = Nebensatz
    </caption>
    <thead>
      <tr>
        <th scope="col">English</th>
        <th scope="col">German</th>
      </tr>
    </thead>
    <tbody>
      <% words.words.forEach(function(word) { %>
        <tr>
          <th scope="row">
            <%= word.sentence_eng %>
          </th>
          <td>
            <%= word.sentence %>
            <input id="<%= word.sentence_2 %>" oninput="checkAnswer(id)" size="70"> 
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <hr>

  <table class="table caption-top table-bordered border-dark">
    <caption>
      <h2>2. Als und Wenn</h2>
      <br>
      Als = Nebensatz, When  :happened only once
      <br>
      Wenn = Nebensatz, If & Whenever: happened repeatedly
      <br>
      https://www.thegermanadventure.com/the-difference-between-wenn-and-als/
    </caption>
    <thead>
      <tr>
        <th scope="col">English</th>
        <th scope="col">German</th>
      </tr>
    </thead>
    <tbody>
      <% words.alsUndWenn.forEach(function(alsUndWenn) { %>
        <tr>
          <th scope="row">
            <%= alsUndWenn.sentence_eng %>
          </th>
          <td>
            <input id="<%= alsUndWenn.sentence %>" oninput="checkAnswer(id)" size="70"> 
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <hr>

  <table class="table caption-top table-bordered border-dark">
    <caption>
      <h2>3. um ... zu + Infinitiv / damit</h2>
      <b>Gleiches Subjekt: um ... zu + Infitiv</b> oder <b>damit</b> <br>
      <u>Er</u>  nimmt ein Taxi. <u>Er</u> will nicht zu spät kommen. <br>
      Er nimmt ein Taxi, <b>um</b> nicht zu spät <b>zu kommen</b>. <br>
      Er nimmt ein Taxi, <b>damit</b> <u>er</u> nicht zu spät <b>kommt</b> . <br> <br>

      <b>Verschiedene Subjekte:</b> immer <b>damit</b> <br>
      <u>Seine Frau</u> hat ihm eine neue Krawatte gekauft, <b>damit</b> <u>er</u> gut aussieht. <br> <br>

      <b>damit</b> = Nebensatz <br>
      <b>um ... zu</b> = Infinitivsatz <br>
      Ich besuche den Deutschkurs. Ich will in Deutschland studieren. <br>
      Ich besuche den Deutschkurs, <b>um</b> in Deutschlasnd <b>zu studieren</b>. <br>
      <b>Um</b> in Deutschland <b>zu studieren</b>, <b>besuche</b> ich den Deutschkurs. <br> <br>

      „<b>Wofür</b> arbeitest du so viel?“ <br>
​
      „Ich arbeite so viel, <b>damit</b> ich mir den Urlaub leisten <b>kann</b>.“ <br>
      „<b>Damit</b> ich mir den Urlaub leisten <b>kann</b>, <b>arbeite</b> ich so viel.“ <br>
      „<b>Damit</b> ich mir den Urlaub leisten <b>kann</b>.“ <br>

      <br>
      <p>Ref <a href="https://en.easy-deutsch.de/sentence-structure/subordinate-clauses/final-clauses-damit-um-zu/" target="_blank">damit vs um .. zu</a>.</p>
      <p>Ref <a href="https://learnattack.de/schuelerlexikon/deutsch/infinitivsatz" target="_blank">infinitivsatz</a>.</p>
      <a href="https://quizlet.com/555693434/flashcards" target="_blank">Quiz</a>
    </caption>
    <thead>
      <tr>
        <th scope="col">English</th>
        <th scope="col">German</th>
      </tr>
    </thead>
    <tbody>
      <% words.damitUmZu.forEach(function(damitUmZu) { %>
        <tr>
          <th scope="row">
            <%= damitUmZu.sentence_eng %>
          </th>
          <td>
            <input id="<%= damitUmZu.sentence %>" oninput="checkAnswer(id)" size="70"> 
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
<script>
  function checkAnswer(id, test) {
    let new_id = id.substring(id.indexOf('-') + 1);
    let elm = document.getElementById(id);

    if (elm.value == new_id) {
      elm.style.color = "green";
    } else {
      elm.style.color = "black";
    }
    
  }
</script>