<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <table class="table caption-top table-bordered border-dark">
    <caption>
      <h2>GET Quiz Wort</h2>
    </caption>
    <thead>
      <tr>
        <!-- <th scope="col">Wort</th> -->
        <th scope="col">Bedeutung</th>
        <th scope="col">Artikel</th>
        <th scope="col">Singular</th>
        <th scope="col">Plural</th>
        <th scope="col">Point</th>
      </tr>
    </thead>
    <tbody>
      <form action="/getQuizWort" onsubmit="showAnswer(event); return false;"
      >
        <tr>
          <!-- <th scope="col">
            <%= quizWort[0].wort %>
          </th> -->
          <th scope="col">
            <%= quizWort[0].bedeutung %>
          </th>
          <th scope="col">
            <input id="artikel" style='width:60%' name="artikel" 
            oninput="check()" autocomplete="off" autofocus required>
            <br> 
            <p id="answer_artikel" style="display: none;">
              <%= quizWort[0].artikel %>
            </p>
          </th>
          <th scope="col">
            <input id="singular_nominativ" style='width:60%' name="singular_nominativ" 
            oninput="check()" autocomplete="off" autofocus required> 
            <br> 
            <p id="answer_singular_nominativ" style="display: none;">
              <%= quizWort[0].singular_nominativ %>
            </p>
          </th>
          <th scope="col">
            <input id="plural_nominativ" style='width:60%' name="plural_nominativ" 
            oninput="check()" autocomplete="off" autofocus required> 
            <br> 
            <p id="answer_plural_nominativ" style="display: none;">
              <%= quizWort[0].plural_nominativ %>
            </p>
          </th>
          <th scope="col">
            <%= quizWort[0].correct_point %>
            <input type="submit" value="Submit" >
          </th>
        </tr>
      </form>
    </tbody>
  </table>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
<script>
  var parsed_data =  <%- JSON.stringify(quizWort[0]) %>;

  let artikel = document.getElementById("artikel");
  let singular_nominativ = document.getElementById("singular_nominativ");
  let plural_nominativ = document.getElementById("plural_nominativ");

  function check() {
    if (artikel.value == parsed_data.artikel &&
              singular_nominativ.value == parsed_data.singular_nominativ &&
              plural_nominativ.value == parsed_data.plural_nominativ) {

      artikel.style.color = "green";
      singular_nominativ.style.color = "green";
      plural_nominativ.style.color = "green";

      postAddPoint = fetch("/postAddPoint", {method:'post', body: new URLSearchParams({
                  'id': parsed_data.id,
                  'table': "wörter",
      })});
    }
  }

  function showAnswer(event) {

    event.preventDefault();
    if (!(artikel.value == parsed_data.artikel &&
              singular_nominativ.value == parsed_data.singular_nominativ &&
              plural_nominativ.value == parsed_data.plural_nominativ)) {

      let answer_artikel = document.getElementById("answer_artikel");
      let answer_singular_nominativ = document.getElementById("answer_singular_nominativ");
      let answer_plural_nominativ = document.getElementById("answer_plural_nominativ");
      answer_artikel.style.display = "block"
      answer_singular_nominativ.style.display = "block"
      answer_plural_nominativ.style.display = "block"

      postMinusPoint = fetch("/postMinusPoint", {method:'post', body: new URLSearchParams({
                  'id': parsed_data.id,
                  'table': "wörter",
      })});
    }
  }
</script>