<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="container">

    <header>
      <%- include('../partials/header'); %>
    </header>

  <main>
    <div class="jumbotron">
      <h1>Partizip I</h1>
      <a href="#1"> <h3>1. Partizip I als Adjektiv</h3> </a>
    </div>

    <hr>

    <table id="1" class="table caption-top table-bordered border-dark">
      <caption>
        <h2>1. Partizip I als Adjektiv</h2>
        <p>Ref <a href="https://quizlet.com/558638466/flashcards" target="_blank"> Exercise</a>.</p>
      </caption>
      <thead>
        <tr>
          <th scope="col">German</th>
          <th scope="col">Verben</th>
        </tr>
      </thead>
      <tbody>
        <% words.als_adjektiv.forEach(function(als_adjektiv) { %>
          <tr>
            <th scope="row">
              <%= als_adjektiv.german_sentence %>
            </th>
            <td>
              <input id="<%= als_adjektiv.solution %>" oninput="checkAnswer(id)" size="70"> 
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>

    <hr>


  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

  </body>
</html>

<script>
  function checkAnswer(id, test) {
    let new_id = id.substring(id.indexOf('+') + 1);
    let elm = document.getElementById(id);

    if (elm.value == new_id) {
      elm.style.color = "green";
    } else {
      elm.style.color = "black";
    }
  }
</script>