<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Pr채positionen</h1>
    <h3>1. Lokale Pr채positionen</h3>
    <h3>2. Ohne/ Mit</h3>
    <h3>3. mit Akkusativ und Dativ</h3>
  </div>

  <hr>

  <table class="table caption-top table-bordered border-dark">
    <caption>
      <h2>1. Lokale Pr채positionen</h2>
      mit Dativ    : an ... vorbei, bis zu, gegen체ber
      <br>
      mit Akkusativ: durch, ... entlang, um ... herum
      
    </caption>
    <thead>
      <tr>
        <th scope="col">English</th>
        <th scope="col">German</th>
      </tr>
    </thead>
    <tbody>
      <% words.words.forEach(function(word) { %>
        <tr>
          <th scope="row">
            <%= word.sentence_eng %>
          </th>
          <td>
            <input id="<%= word.sentence %>" oninput="checkAnswer(id)" size="70"> 
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <hr>

  <table class="table caption-top table-bordered border-dark">
    <caption>
      <h2>2. Ohne/ Mit</h2>
      ohne + Akkusativ
      <br>
      mit + Dativ
      
    </caption>
    <thead>
      <tr>
        <th scope="col">English</th>
        <th scope="col">German</th>
      </tr>
    </thead>
    <tbody>
      <% words.words2.forEach(function(word) { %>
        <tr>
          <th scope="row">
            <%= word.sentence_eng %>
          </th>
          <td>
            <input id="<%= word.sentence %>" oninput="checkAnswer(id)" size="70"> 
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <hr>

  <table class="table caption-top table-bordered border-dark">
    <caption>
      <h2>3. mit Akkusativ und Dativ</h2>
      https://resources.german.lsa.umich.edu/grammatik/stehenstellen/
      <br>
      Wohin + Akkusativ: stellen, legen, stecken
      <br>
      Wo + Dativ: stehen, liegen
      
    </caption>
    <thead>
      <tr>
        <th scope="col">German</th>
        <th scope="col">Wohin</th>
        <th scope="col">German</th>
        <th scope="col">Wo</th>
      </tr>
    </thead>
    <tbody>
      <% words.akku_dativ.forEach(function(akku_dativ) { %>
        <tr>
          <td>
            <%= akku_dativ.sentence1 %>
          </td>
          <td>
            <%= akku_dativ.sentence_eng1 %>
          </td>
          <td>
            <%= akku_dativ.sentence2 %>
          </td>
          <td>
            <%= akku_dativ.sentence_eng2 %>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  
  <hr>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
<script>
  function checkAnswer(id, test) {
    let new_id = id.substring(id.indexOf('+') + 1);
    let elm = document.getElementById(id);

    if (elm.value == new_id) {
      elm.style.color = "green";
    } else {
      elm.style.color = "black";
    }
  }
</script>