<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>German Dictionary</h1>
  </div>

  <table class="table caption-top table-bordered border-dark">
    <caption>
      <h2>Reflexive Verb</h2>
    </caption>
    <% words.reflexive_verb.forEach(function(reflexive_verb) { %>
    <thead>
      <tr>
        <th scope="col"><%= reflexive_verb.wort %> (<%= reflexive_verb.meaning %>)</th>
        <th scope="col">Present</th>
        <th scope="col">Perfect</th>
      </tr>
    </thead>

    <tbody>
      <% for(var i=0; i < reflexive_verb.verb.length; i++) { %>
        <tr>
          <th scope="row">
            <%= reflexive_verb.verb[i].present[0].pronomen %>
          </th>
          <td>
            <input id="<%= reflexive_verb.verb[i].present[0].present %>" placeholder="Verben" oninput="checkAnswer(id)"> 
            <br>
            <%= reflexive_verb.verb[i].present[0].english_sentence %>
            <br>
            <textarea id="<%= reflexive_verb.verb[i].present[0].german_sentence %>" oninput="checkAnswer(id)" rows="2" cols="50"></textarea>
          </td>
          <td>
            <input id="<%= reflexive_verb.verb[i].perfect[0].present %>" placeholder="Verben" oninput="checkAnswer(id)"> 
            <br>
            <%= reflexive_verb.verb[i].perfect[0].english_sentence %>
            <br>
            <textarea id="<%= reflexive_verb.verb[i].perfect[0].german_sentence %>" oninput="checkAnswer(id)" rows="2" cols="50"></textarea>
          </td>
        </tr>
        <% } %>
    </tbody>
    <% }); %>
  </table>

  <hr>


</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
<script>
  function checkAnswer(id, test) {
    let new_id = id.substring(id.indexOf('+') + 1);
    let elm = document.getElementById(id);

    if (elm.value == new_id) {
      elm.style.color = "green";
    } else {
      elm.style.color = "black";
    }
  }
</script>