<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>German Dictionary</h1>
  </div>

  <table class="table caption-top table-bordered border-dark">
    <caption>
      <h2>Verben mit Dativ und Akkusativ</h2>
    </caption>
    <thead>
      <tr>
        <th scope="col">Question</th>
        <th scope="col">Answer</th>
      </tr>
    </thead>
    <tbody>
      <% words.akku_dativ_example_verb.forEach(function(akku_dativ_example_verb) { %>
        <tr>
          <td>
            <%= akku_dativ_example_verb.question %>
            <br>
            <%= akku_dativ_example_verb.question2 %>
            <br>
            <%= akku_dativ_example_verb.question3 %>
            <br>
            <%= akku_dativ_example_verb.question4 %>
          </td>
          <td>
            <%= akku_dativ_example_verb.answer %>
            <br>
            <%= akku_dativ_example_verb.answer2 %>
            <br>
            <%= akku_dativ_example_verb.answer3 %>
            <br>
            <%= akku_dativ_example_verb.answer4 %>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <hr>

  <table class="table caption-top table-bordered border-dark">
    <caption>
      <h2>Verben mit Dativ und Akkusativ</h2>
      Weitere Verben: einer Person etwas ...
      <br>
      A - J : anbieten, bringen, erklären, empfehle, geben,
      <br>
      K - T: kaufen, leihen, schenken, schicken, 
      <br>
      U - ß: zeigen, 
    </caption>
    <thead>
      <tr>
        <th scope="col">Nominativ</th>
        <th scope="col">Verb</th>
        <th scope="col">Dativ</th>
        <th scope="col">Akkusativ</th>
        <th scope="col">English</th>
      </tr>
    </thead>
    <tbody>
      <% words.akku_dativ_verb.forEach(function(akku_dativ_verb) { %>
        <tr>
          <td scope="row">
            <%= akku_dativ_verb.nominativ %>
          </td>
          <td>
            <input id="<%= akku_dativ_verb.verb %>" oninput="checkAnswer(id)"> 
          </td>
          <td>
            <input id="<%= akku_dativ_verb.dativ %>" oninput="checkAnswer(id)"> 
          </td>
          <td>
            <input id="<%= akku_dativ_verb.akkusativ %>" oninput="checkAnswer(id)"> 
          </td>
          <td>
            <%= akku_dativ_verb.english_sentence %>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
<script>
  function checkAnswer(id, test) {
    let new_id = id.substring(id.indexOf('-') + 1);
    let elm = document.getElementById(id);

    if (elm.value == new_id) {
      elm.style.color = "green";
    } else {
      elm.style.color = "black";
    }
    
  }
</script>