<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>German Dictionary</h1>
  </div>

  <table class="table caption-top table-bordered border-dark">
    <caption>
      <h2>An</h2>
    An + Akkusativ
    </caption>
    <thead>
      <tr>
        <th scope="col">Verb</th>
        <th scope="col">English sentence</th>
        <th scope="col">German sentence</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i < verb.verbWithAn.length; i++) { %>
        <tr>
          <td>
            <%= verb.verbWithAn[i].verb %>
          </td>
          <td>
            <%= verb.verbWithAn[i].english_sentence %>
          </td>
          <td>
            <input id="<%= verb.verbWithAn[i].german_sentence %>"  oninput="checkAnswer(id)" size="70"> 
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>

  <hr>

  <table class="table caption-top table-bordered border-dark">
    <caption>
      <h2>Auf</h2>
    Auf + Akkusativ
    </caption>
    <thead>
      <tr>
        <th scope="col">Verb</th>
        <th scope="col">English sentence</th>
        <th scope="col">German sentence</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i < verb.verbWithAuf.length; i++) { %>
        <tr>
          <td>
            <%= verb.verbWithAuf[i].verb %>
          </td>
          <td>
            <%= verb.verbWithAuf[i].english_sentence %>
          </td>
          <td>
            <input id="<%= verb.verbWithAuf[i].german_sentence %>"  oninput="checkAnswer(id)" size="70"> 
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>

  <hr>

  <table class="table caption-top table-bordered border-dark">
    <caption>
      <h2>Für</h2>
    Für + Akkusativ
    </caption>
    <thead>
      <tr>
        <th scope="col">Verb</th>
        <th scope="col">English sentence</th>
        <th scope="col">German sentence</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i < verb.verbWithFür.length; i++) { %>
        <tr>

          <td>
            <%= verb.verbWithFür[i].verb %>
          </td>
          
          <td>
            <%= verb.verbWithFür[i].english_sentence %>
          </td>

          <td>
            <input id="<%= verb.verbWithFür[i].german_sentence %>"  oninput="checkAnswer(id)" size="70"> 
          </td>

        </tr>
      <% } %>

    </tbody>
  </table>

  <hr>

  <table class="table caption-top table-bordered border-dark">
    <caption>
      <h2>Mit</h2>
    Mit + Dativ
    </caption>
    <thead>
      <tr>
        <th scope="col">Verb</th>
        <th scope="col">English sentence</th>
        <th scope="col">German sentence</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i < verb.verbWithMit.length; i++) { %>
        <tr>

          <td>
            <%= verb.verbWithMit[i].verb %>
          </td>
          
          <td>
            <%= verb.verbWithMit[i].english_sentence %>
          </td>

          <td>
            <input id="<%= verb.verbWithMit[i].german_sentence %>"  oninput="checkAnswer(id)" size="70"> 
          </td>

        </tr>
      <% } %>

    </tbody>
  </table>

  <hr>

  <table class="table caption-top table-bordered border-dark">
    <caption>
      <h2>Um</h2>
      
    </caption>
    <thead>
      <tr>
        <th scope="col">Verb</th>
        <th scope="col">English sentence</th>
        <th scope="col">German sentence</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i < verb.verbWithUm.length; i++) { %>
        <tr>

          <td>
            <%= verb.verbWithUm[i].verb %>
          </td>
          
          <td>
            <%= verb.verbWithUm[i].english_sentence %>
          </td>

          <td>
            <input id="<%= verb.verbWithUm[i].german_sentence %>"  oninput="checkAnswer(id)" size="70"> 
          </td>

        </tr>
      <% } %>

    </tbody>
  </table>

  <hr>

  <table class="table caption-top table-bordered border-dark">
    <caption>
      <h2>Über</h2>
      Über + Akkusativ
    </caption>
    <thead>
      <tr>
        <th scope="col">Verb</th>
        <th scope="col">English sentence</th>
        <th scope="col">German sentence</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i < verb.verbWithÜber.length; i++) { %>
        <tr>

          <td>
            <%= verb.verbWithÜber[i].verb %>
          </td>
          
          <td>
            <%= verb.verbWithÜber[i].english_sentence %>
          </td>

          <td>
            <input id="<%= verb.verbWithÜber[i].german_sentence %>"  oninput="checkAnswer(id)" size="70"> 
          </td>

        </tr>
      <% } %>

    </tbody>
  </table>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
<script>
  function checkAnswer(id, test) {
    let new_id = id.substring(id.indexOf('+') + 1);
    let elm = document.getElementById(id);

    if (elm.value == new_id) {
      elm.style.color = "green";
    } else {
      elm.style.color = "black";
    }
  }
</script>