<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>W-Frage</h1>
    <h3>1. W-Frage</h3>
    <h3>2. W-Fragen mit Präposition</h3>
  </div>

  <hr>

  <table class="table caption-top table-bordered border-dark">
    <caption>
      <h2>1. W-Frage</h2>
      Wo?          Wie?      Wann?      Warum? Um wie viel Uhr?
      <br>
      Was für ...? Wie viel? Wie lange? Wohin?
      <br>
      Mit wem?     Woher?    Wozu?
      <br>
      Welche?      Bis wann? Was?       Wofür?
    </caption>
    <thead>
      <tr>
        <th scope="col">English</th>
        <th scope="col">German</th>
      </tr>
    </thead>
    <tbody>
      <% words.words.forEach(function(word) { %>
        <tr>
          <th scope="row">
            <%= word.question_eng %>
            <br>
            <%= word.answer_eng %>
          </th>
          <td>
            <input id="<%= word.question %>" oninput="checkAnswer(id)" onkeydown="showAnswer(id)" size="70"> 
            <br>
            <input id="<%= word.answer %>" oninput="checkAnswer(id)" size="70"> 
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <hr>

  <table class="table caption-top table-bordered border-dark">
    <caption>
      <h2>2. W-Fragen mit Präposition</h2>
      Präposition mit Fragewort(z.B. auf wen?):
      <br>
      Frage nach <b>Personen</b>
      <br>
      wo(r) + Präposition(z.B. womit?):
      <br>
      Frage nach <b>Dingen und Ereignissen</b>
      <br>
      Wenn die Präposition mit Vokal beginnt, braucht man ein ,,r'' (z.B. worauf?)
    </caption>
    <thead>
      <tr>
        <th scope="col">English</th>
        <th scope="col">German</th>
      </tr>
    </thead>
    <tbody>
      <% words.wFmitPrep.forEach(function(sentence) { %>
        <tr>
          <th scope="row">
            <%= sentence.question_eng %>
            <br>
            <%= sentence.answer_eng %>
          </th>
          <td>
            <input id="<%= sentence.question %>" oninput="checkAnswer(id)" onkeydown="showAnswer(id)" size="70"> 
            <br>
            <input id="<%= sentence.answer %>" oninput="checkAnswer(id)" size="70"> 
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
<script>
  function checkAnswer(id, test) {
    let new_id = id.substring(id.indexOf('-') + 1);
    let elm = document.getElementById(id);

    if (elm.value == new_id) {
      elm.style.color = "green";
    } else {
      elm.style.color = "black";
    }
    
  }
  function showAnswer(id) {
    let element = document.getElementById(id);
    element.addEventListener("keypress", function(event) {
      if (event.key === "Enter") {
        console.log("test")
      }
    });
  }
</script>
<!-- https://stackoverflow.com/questions/70287691/js-function-addeventlistener-on-keypress-adding-text-with-innerhtml-is-running-e?noredirect=1&lq=1 -->
<!-- https://stackoverflow.com/questions/24876428/when-does-using-addeventlistener-accumulate-in-javascript -->