<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>German Dictionary</h1>
  </div>

  <table class="table caption-top table-bordered border-dark">
    <caption>
      <h2>Wörter</h2>
      
    </caption>
    <thead>
      <tr>
        <th scope="col">Artikel</th>
        <th scope="col">Wort</th>
        <th scope="col">plural</th>
        <th scope="col">English sentence</th>
        <th scope="col">German sentence</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i < words.words.length; i++) { %>
        <tr>
          <td>
            <p class="demo<%= i %>" style="display: none;">
              <%= words.words[i].artikel %>
            </p>
          </td>

          <td id="<%= i %>" onclick="myFunction(id)">
            <%= words.words[i].wort %>
            <br>
            <img src="/images/word/<%= words.words[i].wort %>.png" onerror="this.style.display='none'" width="100" height="100">
          </td>

          <td>
            <p class="demo<%= i %>" style="display: none;">
              <%= words.words[i].plural %>
            </p>
          </td>

          <td>
            <%= words.words[i].english_sentence %>
          </td>

          <td>
            <p class="demo<%= i %>" style="display: none;">
              <%= words.words[i].german_sentence %>
            </p>
          </td>

        </tr>
      <% } %>

    </tbody>
  </table>

  <hr>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
<script>
  function myFunction(id) {
    var elms = document.getElementsByClassName("demo" + id);

    Array.from(elms).forEach((x) => {
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
    })
  }
</script>